.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    height: 90vh;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
    background-image: url("./../../assets/img/fundo-home.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(0.5px);
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 1px rgb(0, 0, 0);
}

.menu-lateral h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.menu-lateral ul {
    list-style: none;
    padding: 0;
    margin: 10px;
}

.menu-lateral ul li {
    margin-bottom: 10px;
}

.menu-lateral ul li a {
    display: block;
    text-decoration: none;
    color: #000000;
    font-size: 16px;
    padding: 10px;
}

.menu-lateral ul li a:hover {
    color: #00b7ff;
    background-color: #f0f0f0;
}
.btnSair {
    margin-top: 20px;
}

.btn-sair button {
    color: #ffffff;
    background-color: #2a2d30;
    font-weight: bold;
    margin: 10px;
    border: none;
    border-radius: 10px;
    width: 70px;
    cursor: pointer;
    font-size: 16px;
}

.btn-sair button a {
    text-decoration: none;
    color: #ffffff;
}

.btn-sair button:hover {
    background-color: #2a2d30de;
}

.conteudo {
    height: 50vh;
    width: 150vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    padding: 40px;
    box-sizing: border-box;
}

.conteudo h1 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
}

.conteudo p {
    color: #ffffff;
    font-size: 24px;
    line-height: 1.5;
    text-align: justify;
    max-width: 800px;
}
